body {
    background-color: #0B0C0E;
    color: #E2E4E8;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.bg-research-grid {
    background-color: #0B0C0E;
    background-image: radial-gradient(#1C2433 1px, transparent 1px);
    background-size: 32px 32px;
}